* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Produto */
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;


    /* BACKGROUND COLOR */
    --background-color: #0F172A;
    --stroke-color: #1E293B;

    /* TEXTS */

    --text-color-primary: #F1F5F1;
    --text-color-secondary: #CBD5E1;

    --heading-one: 24px/135% "Archivo", sans-serif;


}